beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
charset-normalizer==2.0.3
cssutils==2.6.0
idna==3.2
requests==2.26.0
soupsieve==2.2.1
tinycss==0.4
tinycss2==1.2.1
urllib3==1.26.6
webencodings==0.5.1
